.about-page {
  @include flexCenter;
  flex-direction: column;
  // .about-page__top

  &__top {
    max-width: 1360px;
    @include flexCenter;
    flex-direction: column;

    margin-top: 117px;
  }

  // .about-page__tagline-wrapper

  &__tagline-wrapper {
    width: 1360px;
    height: 78px;

    background: #f8f9fa;

    @include flexCenter;
  }

  // .about-page__tagline

  &__tagline {
    height: 30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    text-align: center;

    color: #333333;
  }

  // .about-page__descr-wrapper

  &__descr-wrapper {
    @include flexCenter;
    flex-direction: column;
  }

  // .about-page__descr

  &__descr {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */

    text-align: center;

    color: #777777;
    // .about-page__descr_1

    &_1 {
      margin-top: 32px;
    }

    // .about-page__descr_2

    &_2 {
    }
  }

  // .about-page__img

  &__img {
    margin-top: 25px;
  }

  // .about-page__wrapper-pros

  &__wrapper-pros {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 1280px;
    margin-top: 35px;
  }

  // .about-page__pros-title

  &__pros-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */
    color: #333333;
    margin-bottom: 16px;
  }

  // .about-page__list

  &__list {
  }

  &__list

  // .about-page__item

  &__item {
    margin-bottom: 4px;
  }

  &__item::before {
    position: relative;
    content: "•";
    margin-right: 4px;
  }
  &__video {
    width: 100%;
    height: 220px;
    margin-top: 100px;
  }
}

.about-page__wrapper-lists {
  display: flex;
}

.about-bottom {
  @include flexCenter;
  margin-top: 8px;
  // .about-bottom__wrapper-descr

  &__wrapper-descr {
    margin-top: 55px;
    padding-left: 18px;
  }

  // .about-bottom__title

  &__title {
    width: 859px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */

    color: #333333;
  }

  // .about-bottom__descr

  &__descr {
    margin-top: 15px;
    width: 830px;
    height: 48px;
    left: 329px;
    top: 1455px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    color: #777777;
  }

  // .about-bottom__hor-line

  &__hor-line {
  }
}
.hor {
  // .hor_line

  &_line {
  }
}
.about-page {
  // .about-page__wrapper-pros

  &__wrapper-pros {
  }

  // .about-page__pros-title

  &__pros-title {
    margin-top: 38px;
    display: inline-block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #333333;
  }

  // .about-page__list

  &__list {
  }

  // .about-page__item

  &__item {
  }
}
