.main {
  position: relative;
}

.offers-wrap {
  background-color: #ffff;
  margin-top: -90px;
  height: 630px;
}

.offers {
  width: 1360px;
  margin: auto;
  margin-top: 157px;
}

.offers__tagline {
  text-align: center;
  width: 100%;
  margin: 0 auto;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */

  text-align: center;

  color: #333333;

  display: inline-block;
  margin-top: 90px;
}

.offers__wrap-cards {
  display: flex;
  justify-content: space-between;
}

.offers__cards {
  //   @include flexCenter;
  //   flex-direction: column;
  text-align: center;
  margin-top: 36px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  height: 369px;
  width: 332px;
  transition: 0.3s;
}

.offers__cards:hover {
  transform: scale(1.02);
  transition: 0.3s;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  height: 369px;
  width: 332px;
}

.offers__img {
  overflow: hidden;
  height: 200px;
  width: 100%;
  border-radius: 5px;
  transition: 0.3s;
  object-fit: cover;
}

// .offers__img:hover {
//   overflow: hidden;
//   transform: scale(1.2);
//   transition: 0.3s;
//   object-fit: cover;
// }

.offers__card-name {
  text-align: center;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */

  text-align: center;

  color: #333333;
  margin-top: 20px;
}

.offers__hor-line {
  margin: 0 auto;
  border: 1px solid #e2e2e2;
  width: 268px;
  position: relative;
  top: 16px;
}

.offers__card-descr {
  width: 100%;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */

  color: #666666;
}

.offers__card-descr_1 {
  margin-top: 40px;
  //   width: 180px;
}
.offers__card-descr_2 {
  //   width: 209px;
}

.offers__card-underdescr_1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  text-align: center;

  color: #999999;
  position: relative;

  top: 46px;
}

.offers__card-underdescr_2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  text-align: center;

  color: #999999;
  position: relative;
  top: 46px;
}

.offers__card-underline-link {
  color: #337ab7;
}

.adress {
  margin: 0px auto;
  margin-top: 87px;
  width: 1360px;
}

.adress__tagline {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */

  color: #333333;
}

.adress__blocks-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-template-rows: 404px;
}

.adress__point-wrap {
  margin-bottom: 19px;
  display: flex;
  align-items: center;
}

.adress__point {
  display: flex;
  align-items: center;
  width: 50%;
  margin-top: 27px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  color: #333333;

  img {
    margin-right: 8px;
  }
}

.adress__point-2 {
  margin-left: 40px;
}

.adress__block_band {
  display: flex;
  padding-right: 25px;
  padding-top: 26px;
  padding-left: 18px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
}

.adress__city {
}

.adress__blocks-left-wrapper {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.adress__blocks-right-wrapper {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 101.6px) 0px;
  height: calc(101.6px * 3);
}
.div-spec {
  border: 1px solid white;
}
.adress__block-left {
}

.adress__wrapper-name {
}

.adress__name {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140.62%;
  /* identical to box height, or 25px */

  color: #333333;
}

.adress__small-line {
  display: inline-block;
  width: 1px;
  height: 20%;
  /* position: relative; */
  left: 4px;
  margin-left: 12px;
  background-color: rgba(196, 196, 196, 1);
}

.adress__phone {
  text-decoration: none;
}

.adress__data {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #666666;
  margin-top: 4px;
}

.adress__btn {
  width: 145px;
}

.adress__hor-line {
  display: none;
}

.slider__sideBlock_button {
}

.video {
  width: 1360px;
  margin: 0 auto;
  margin-top: 100px; // .video__title
  &__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */

    color: #333333;
  }
  &__cards-wrapper {
    display: flex;
    justify-content: flex-start;
    // margin-left: -13px;
    flex-wrap: wrap;
  }
  // .video__card-wrapper
  &__card-wrapper {
    box-sizing: border-box;
    width: 426px;
    margin-top: 32px;
    margin-right: 41px;
  }

  &__card-wrapper_last {
    margin-right: 0px;
  }

  &__card-wrapper-bottom {
    margin-top: 10px;

    width: 1360px;
    @include flexStart;

    .video__card-wrapper::first-child {
      margin-left: 13px;
    }
  }
  &__background {
    margin-top: 10px;
    width: 426px;
    height: 272px;

    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    @include flexCenter;
    flex-direction: column;
    background-image: url(../img/network/REstartRectangle.png);
    // iframe {
    //   width: 100%;
    //   height: 100%;
    //   left: 30px;
    //   top: 2188px;

    //   background: #ffffff;
    //   border: 1px solid #e6e6e6;
    //   border-radius: 5px;
    // }

    &_img {
      position: absolute;
      z-index: 3;
    }
    video {
      // height: 279px;
      // position: absolute;
      // z-index: 2;
      height: 100%;
      &::-webkit-media-controls {
        // display: none;
      }
    }
  }

  // .video__street

  &__street {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140.62%;
    /* identical to box height, or 22px */

    color: #666666;
  }

  // .video__img-wrapper

  &__img-wrapper {
    width: 215px;
    height: 219px;
    background: url("../img/network/RestartVid.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @include flexCenter;
  }
}

.network-form {
  background-image: url(../img/network/cars.png);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 1360px;
  background-repeat: no-repeat;
  height: 540px;
  margin-top: 97px;
  width: 100%;
}

.network-form_wrapper {
  width: 1360px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.network-form__text {
  margin-left: 38px;
  margin-top: 136px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 140.62%;
  /* or 56px */

  color: #ffffff;

  width: 580px;

  height: 168px;
}

.form {
  padding: 33px 21px 0 19px;
  margin-top: 36px;

  height: 466px;
  width: 393px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-left: 275px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  box-sizing: border-box;

  * {
    padding-left: 2px;
  }
  label {
    padding: 0px;
  }
  input {
    box-sizing: border-box;
    margin-left: 3px;
    width: 350px;
    height: 50px;
    padding: 0px 0 0 12px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 144%;
    /* identical to box height, or 20px */

    color: #828282;
  }
  select {
    padding-left: 11px;

    margin-left: 3px;
    background-image: url(../img/network/arrow_down.png);
    background-repeat: no-repeat;
    -webkit-appearance: none;
    background-position: 96%;
    transition: all 0.5s;
  }
}

.form__request {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #333333;
}
.form__hor-line {
  border: 1px solid #ebebeb;
  top: 27px;
  width: 350px;
  height: 0;
  position: relative;
}
.form__name {
  margin-top: 52px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 144%;
  /* identical to box height, or 20px */

  color: #333333;
}

.paint_red {
  color: red;
}

.form__input-name {
  width: 350px;
  height: 50px;

  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

.form__phone {
  margin-top: 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 144%;
  /* identical to box height, or 20px */

  color: #333333;
}

.form_input-phone {
  margin-top: 5px;
  width: 350px;
  height: 50px;

  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

.form__city {
  margin-top: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 144%;
  /* identical to box height, or 20px */
  color: #333333;
}

.form_select-city {
  width: 350px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 144%;
  color: #828282;
  padding-left: 7px;
}

.form__button {
  margin-top: 17px;
  width: 353px;
  height: 58px;
  background: #27ae60;
  border-radius: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 21px; */
  text-align: center;
  border: 1px solid;
  color: #fff;
  margin-left: 2px;
}

.lists {
  width: 1360px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 76px;
}
// .lists__tagline

.lists__tagline {
  margin-bottom: 18px;
  text-align: start;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */
  color: #333333;
}

// .lists__card-wrapper

.lists__cards-wrapper-background {
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  margin-bottom: 118px;
}

.lists__cards-wrapper {
  padding-top: 35px;

  padding-left: 39px;

  // height: 922px;
}

// .lists__title

.lists__title {
}

// .lists__lists-wrapper

.lists__lists-wrapper {
  display: flex;
}

// .lists__list

.lists__list {
  margin-top: 6px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  // line-height: 28px;
  /* or 175% */

  color: #777777;
}

// .lists__item

.lists__item {
  margin-top: 4px;
}

.lists__list_1 {
  margin-right: 77px;
}

.lists__list_2 {
  margin-right: 48px;
}

.lists__list_3 {
  margin-right: 62px;
}
.lists__list_4 {
}

.lists__link {
  text-align: start;
  margin-top: -20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  color: #333333;

  a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    text-decoration: none;
    color: #337ab7;
  }
}

.lists__hor-line {
  margin-top: 88px;

  width: 1283px;
  height: 0px;
  border: 1px solid #e2e2e2;
}

.lists__lists-wrapper_2 {
  .lists__title {
    margin-top: 5px;
    margin-bottom: 3px;
  }

  .lists__list_1 {
    margin-right: 145px;
  }

  .lists__list_2 {
    margin-right: 117px;
  }
  .lists__list_3 {
    margin-right: 46px;
  }
  .lists__link {
    margin-top: -17px;
  }
}
.lists__lists-wrapper_3 {
  .lists__title-wrapper {
    margin-bottom: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 54px;
    margin-top: 11px;
  }

  .lists__lists-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 56px;
  }
  .lists__hor-line {
    visibility: hidden;
  }
}

a {
  text-decoration: none;
}

.visibility {
  visibility: hidden;
}

.pop-up {
  position: absolute;
  top: 50%;
  left: calc(50% - 393px / 2 + 0.5px);
}

.pop-up__block {
  display: flex;
  flex-wrap: wrap;
  width: 393px;
  height: 429px;
  background: #fff;
  box-shadow: 0 4px 20pxrgba (0, 0, 0, 0.1);
  border-radius: 8px;
  align-content: flex-start;
  justify-content: center;
  padding-top: 42.75px;
}

.pop-up__close-wrapper {
  transition: 0.3s;
  cursor: pointer;
  padding-right: 21px;

  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.pop-up__close {
}

.green-circle {
  margin-top: 4px;
}

.pop-up__descr-block_top {
  width: 100%;
}

.pop-up__descr-top {
  margin-top: 20px;
}

.pop-up__descr {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  text-align: center;

  color: #333333;
}

.pop-up__descr-center {
}

.pop-up__descr-bottom {
}

.pop-up__descr-block_bottom {
  margin-top: 52px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  color: #828282;
}

.pop-up__hor-line {
  width: 340px;
  height: 0px;
  margin-top: 16px;
  border: 1px solid #e2e2e2;
}

.pop-up__info_top {
}

.pop-up__info {
}

.pop-up__info_bottom {
}

.pop-up_media-block {
  margin-top: 19px;

  width: 143.54px;
  display: flex;
  justify-content: space-between;

  img {
    margin-right: 15.27px;
  }
}

.facebook {
}

.inst {
}

.youtube {
}

.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0; // Скрываем фон и сам попап
  pointer-events: none; // Запрещаем ему быть целью событий
  transition: 0.5s all;
}

.popup__bg.active {
  // При добавлении класса 'active'
  opacity: 1; // Показываем фон и попап
  pointer-events: all; // Возвращаем события
  transition: 0.5s all;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); // Центрируем и масштабируем в 0 само окно
  background: #fff;
  width: 400px;
  padding: 25px;
  transition: 0.5s all;
}

.popup.active {
  // При добавлении класса 'active'
  transform: translate(-50%, -50%) scale(1); // Так же центрируем и плавно увеличиваем
  transition: 0.5s all;
}
